body {
    background-color: black;
    color: white;
    text-align: center;
}

main
{
    max-width: 500px;
    margin: 0 auto;
}

footer { 
    color: #666; 
    font-size: small; 
}

a
{
    color:burlywood;
}